{% extends 'base.html' %} {% block title%} Home Page {% endblock title%} 



{% block scripts%} 

{% endblock scripts%} 


{% block content%} 

<h1>Application Development Interview Soutions</h1>

<ul>
<li><a href="/api1/">Problem 1 URL, APi1 Limiter</a></li>
<li><a href="/api2/">Problem 1 URL, APi2 Limiter</a> </li>
<li><a href="/chart/">Problem 2 URL Client-side general chart visualizations</a></li>
<li><a href="/data/table/api/">Problem 3 URL Client-side data table api</a></li>
<li><a href="/data/table/">Problem 3 URL Client-side data table</a></li>
<li><a href="/geo/data/map/">Problem 4 URLS Client-side geo visualizations</a></li>
</ul>

{% endblock content%}